body{
    margin: 0;
    padding: 0;
    background: url(../Logo/globito.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
}
.caja{
    width: 400px;
    height: 500px;
    background: black;
    color: white;
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%,-45%);
   box-sizing: border-box;
   padding:70px 30px ;
}
.caja .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);

}
.caja h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}
.caja label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}
.caja input{
    width: 100%;
    margin-bottom: 20px;
}
.caja input[type="text"],
.caja input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}
.caja input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: orange;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.caja a{
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color: darkgray;

}
.caja a:hover{
    color: white;
}